# Project
.local/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.a
*.o
*.so

# virtualenv
.venv
venv/
ENV/
env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
parts/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg
